.img {
	width: 200px;
}

.article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 250px;
	margin: 10px;
	cursor: pointer;
}

h2 {
	text-align: center;
	color: white;
}
